<!DOCTYPE html> 
 {% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
        </div>
        <li>This tutorial has been put together by Kun Yang</li>
        <div>
            <img src="{{ MEDIA_URL }}cat.png" alt="Picture of Cat" /> 
        </div>
        <div>
			<a href="/rango/">Index</a><br /> 
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> 
		</div>
    </body>
</html>


